body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
}

.toolbar button {
    background-color: #575757;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.toolbar button:hover {
    background-color: #777;
}

.content-container {
    padding: 70px 20px 20px;
    /* Adjusted padding to account for the fixed toolbar */
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* Fixed width for each card */
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

.card p {
    margin: 10px 10px 10px;
    color: #666;
}
